.topper {
  color: #016f32;
  font-family: "Orbitron", san-sherif;
  font-size: 2em;
  font-weight: 800;
  letter-spacing: -1px;
}

nav {
  background: white;
  box-shadow: 2px 7px 5px -3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 2px 7px 5px -3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 7px 5px -3px rgba(0, 0, 0, 0.25);
}
nav .logo {
  display: flex;
}
nav .nav-link {
  font-family: "Rubik", san-sherif;
  font-weight: 700;
  color: #134b5f;
  -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
          animation: myAnim 1s ease 0s 1 normal forwards;
}

a.nav-link.active {
  color: #134b5f;
}

.nav-item a:hover {
  background-color: #134b5f;
  color: white;
  border-radius: 7px;
}


@-webkit-keyframes myAnim {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes myAnim {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

body .main {
  margin-top: 3em;
}
body .main .text-one {
  color: #134b5f;
  font-family: "Rubik", san-sherif;
  font-weight: 800;
  font-size: 2em;
  -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
body .main .text-two {
  color: #134b5f;
  font-family: "Rubik", san-sherif;
  font-weight: 700;
  font-size: 4em;
  -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
body .main .text-three {
  color: #134b5f;
  font-family: "Rubik", san-sherif;
  font-weight: 450;
  font-size: 2em;
  -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
body .main .btn {
  background-color: white;
  color: #134b5f;
  border: 2px solid #134b5f;
}
body .main .btn:hover {
  background-color: #134b5f;
  color: white;
  
  /*animation: myAnim 2s ease 5ms 1 normal forwards;*/
}
body .btn {
  background-color: white;
  color: #134b5f;
  border: 2px solid #134b5f;
}
body .btn:hover {
  background-color: #134b5f;
  color: white;

  /*-webkit-animation: myAnim 1s linear 5ms 1 normal forwards;
          animation: myAnim 1s linear 5ms 1 normal forwards;*/
}
@keyframes myAnim {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
body span {
  font-weight: 700;
  font-family: "Rubik", san-sherif;
  font-size: 1em;
}
body .image1 {
  max-width: 100%;
  height: auto;
  -webkit-animation: jello-horizontal 1.5s both;
          animation: jello-horizontal 1.5s both;
}
@-webkit-keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

#section1 img {
  max-width: 80%;
  height: auto;
}
#section1 .intro {
  max-width: 30em;
}
#section1 h3 {
  padding-bottom: 1em;
  font-size: 2em;
  font-family: "Rubik", san-sherif;
  font-weight: 800;
  color: #134b5f;
  -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
#section1 p {
  word-wrap: break-word;
  padding: 0 0 2em 0;
  font-family: "Rubik", san-sherif;
  color: #134b5f;
  -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
#section1 .d-btn {
  text-align: center;
}
#section1 .btn {
  background-color: white;
  color: #134b5f;
  border: 2px solid #134b5f;
  text-align: center;
}
#section1 .btn:hover, #section1 .btn:focus, #section1 .btn:active, #section1 .btn.active {
  background-color: #134b5f;
  color: white;
}
#section1 span {
  font-family: "Rubik", san-sherif;
  font-weight: 700;
}

#section2 {
  margin-top: 8em;
  margin-bottom: 8em;
}
#section2 h3 {
  font-family: "Rubik", san-sherif;
  color: #134b5f;
  font-weight: 700;
  font-size: 2em;
}
#section2 .row {
  margin-top: 1em;
}
#section2 .card {
  margin: 1em auto;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%) box-shadow rgba(var(--bs-black), 0.075);
}
#section2 a {
  text-decoration: none;
  font-family: "Rubik", san-sherif;
  font-weight: 800;
}
#section2 p {
  color: #134b5f;
  font-family: "Rubik", san-sherif;
  font-weight: 500;
}

#section3 .toper {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 7em;
  height: 400px;
  background-color: #134b5f;
}
#section3 h3 {
  padding-top: 4em;
  font-family: "Rubik", san-sherif;
  color: white;
  font-weight: 700;
}
#section3 p {
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: "Rubik", san-sherif;
  color: white;
  font-size: 1.2em;
}
#section3 input {
  border: 1px solid black;
  padding-right: 3em;
  margin-right: 2em;
}
#section3 input::-moz-placeholder {
  color: #134b5f;
}
#section3 input:-ms-input-placeholder {
  color: #134b5f;
}
#section3 input::placeholder {
  color: #134b5f;
}
#section3 span {
  font-family: "Rubik", san-sherif;
  font-weight: 300;
  color: #134b5f;
}

#contact {
  padding-left: 15em;
}

#contactForm {
  text-align: center;
}
#contactForm p {
  text-align: center;
  font-family: "Rubik", san-sherif;
  color: #134b5f;
  font-size: 2em;
  font-weight: 700;
}
#contactForm ::-moz-placeholder {
  font-family: "Rubik", san-sherif;
  color: #134b5f;
}
#contactForm :-ms-input-placeholder {
  font-family: "Rubik", san-sherif;
  color: #134b5f;
}
#contactForm ::placeholder {
  font-family: "Rubik", san-sherif;
  color: #134b5f;
}
#contactForm textarea {
  height: 10rem;
}
#contactForm .d-grid {
  justify-content: center;
}
#contactForm .btn {
  color: #134b5f;
  max-width: em;
}
#contactForm .btn:hover {
  background-color: #134b5f;
  color: white;
}
#contactForm span {
  font-family: "Rubik", san-sherif;
}

.footer {
  font-family: "Rubik", san-sherif;
  color: var(--bs-black);
  margin-top: 5em;
  text-align: center;
}
.footer .logo {
  display: flex;
  justify-content: center;
}
.footer .right {
  margin: 1em auto;
}/*# sourceMappingURL=styles.css.map */