
$color1: var(--bs-black);
$color2: white;
$color3: #134b5f;
$fontW: 700;
$font1: "Orbitron" , san-sherif;
$box-shadow-sm: 0 .125rem .25rem rgba($color1, .075);
$font:  "Rubik", san-sherif;
$btn-hover-bg-tint-amount: 15%;
$navbar-dark-color:                $color3;
$navbar-dark-hover-color:           $color2;
$navbar-dark-active-color:          $color3;



.topper {
    color: #016f32;
    font-family: $font1;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: -1px;
    
}

nav {
    
    background: white;
    box-shadow: 2px 7px 5px -3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 7px 5px -3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 7px 5px -3px rgba(0, 0, 0, 0.25);
    
    .logo{
        display: flex;
    }

   

   

    .nav-link {
        font-family: $font;
        font-weight: $fontW;
        color: $color3;
        animation: myAnim 1s ease 0s 1 normal forwards;
	}

    @keyframes myAnim {
        0% {
            transform: scale(0.5);
        }
    
        100% {
            transform: scale(1);
        }
    }





    

}

body{
     

.main {
    margin-top:  3em;
    

    .text-one {
        color: $color3;
        font-family: $font;
        font-weight: 800;
        font-size: 2em;
        animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
       
    }

    .text-two {
        color: $color3;
       font-family: $font;
       font-weight: $fontW;
       font-size: 4em;
       animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
       
   }

   .text-three {
       color: $color3;
       font-family: $font;
       font-weight: 450;
       font-size: 2em;
       animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
       
   }


   @keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
  .btn {
    background-color: $color2;
    color: $color3;
    border: 2px solid $color3;

    
}

.btn:hover {
    background-color: $color3;
    color: $color2;
    animation: myAnim 2s ease 5ms 1 normal forwards;
}
}

.btn {
    background-color: $color2;
    color: $color3;
    border: 2px solid $color3;

    
}


.btn:hover {
    background-color: $color3;
    color: $color2;
    animation: myAnim 1s linear 5ms 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

span {
    font-weight: $fontW;
    font-family: $font;
    font-size: 1em;
} 

.image1 {
   max-width: 100%;
   height: auto;
   animation: jello-horizontal 1.5s both;
}


 @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  

}

        


#section1 {

    img {
        max-width: 80%;
        height: auto;
    }

    .intro {
        max-width: 30em;
    }

    h3 {
        padding-bottom: 1em;
        font-size: 2em;
        font-family: $font;
        font-weight: 800;
        color: $color3;
        animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

    }

    p {
        padding: 0 0 2em 0;
        
        font-family: $font;
        color: $color3;
        animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

    }

    @keyframes tracking-in-expand-fwd-top {
        0% {
          letter-spacing: -0.5em;
          transform: translateZ(-700px) translateY(-500px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          transform: translateZ(0) translateY(0);
          opacity: 1;
        }
      }

      .d-btn {
        text-align: center;
        
    }

  
    .btn {
        background-color: $color2;
        color: $color3;
        border: 2px solid $color3;
        text-align: center;
    }
    
 
    .btn:hover, .btn:focus, .btn:active, .btn.active {
        background-color: $color3;
        color: $color2;
    }

    

   span {
        font-family: $font;
        font-weight: $fontW;
        

    }
}


#section2  {
        
        margin-top: 8em;
        margin-bottom: 8em;

    h3 {
        font-family: $font;
        color: $color3;
        font-weight: $fontW;
        font-size: 2em;
    }

        

    .row {
        margin-top: 1em;
       
    }

    .card  {

        margin: 1em auto;
        
        background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%)
        box-shadow rgba($color1, .075)
    }

    a {
        text-decoration: none;
        font-family: $font;
        font-weight: 800;
        
    }

    p {
        color: $color3;
        font-family: $font;
        font-weight: 500;
    }
}


#section3 {

    

    .toper {
        text-align: center;
        margin-top: 5em;
        margin-bottom: 7em;
        height: 400px;
        background-color: $color3;
        
    }

    h3 {
        padding-top: 4em;
        font-family: $font;
        color: $color2;
        font-weight: $fontW;
    }

    p {
        padding-top: 1em;
        padding-bottom: 1em;
        font-family: $font;
        color: $color2;
        font-size: 1.2em;
        
        
    }

    input {
        border: 1px solid black;
        padding-right: 3em;
        margin-right: 2em;
    }

    input::placeholder {
        color: $color3;
    }

    

    span {
        font-family: $font;
        font-weight: 300;
        color: $color3;
        
        
    }

}

 #contact {
        padding-left: 15em;
}

#contactForm {
    
   
    text-align: center;
    
    

    p {
        text-align: center;
        font-family: $font;
        color: $color3;
        font-size: 2em;
        font-weight: $fontW;
        
        
    }
    ::placeholder {
        
        font-family: $font;
        color: $color3;

    }

    

    textarea {
        height: 10rem;
    }

    .d-grid {
        justify-content: center;
    }

    .btn {
        color: $color3;
        max-width: em;
        
    }

    .btn:hover {
        background-color: $color3;
        color: $color2;
    }

    span {
        font-family: $font;
        
    }

    
}

.footer {
    font-family: $font;
    color: $color1;
    margin-top: 5em;
    text-align: center;


    .logo {
        display: flex;
        justify-content: center;
    }

    .right {
        margin: 1em auto;
    }
}
    
  










